/* #region body */
.none {
  display: none;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--slate);
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.section {
  padding-top: 48px;
  padding-bottom: 48px;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* #endregion body */

/* #region Header  */
.header-top-line {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-right: 76px;
  padding: 16px 0;
}
.top-studio {
  color: var(--navy-blue);
}
.header-list,
.header-list-address {
  display: none;
}
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 16px 0;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .container-header {
    display: flex;
    align-items: center;
  }
  .nav-header {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .top-logo {
    padding: 24px 0;
  }
  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .burger-btn {
    display: none;
  }
  .header-link {
    position: relative;
  }
  .menu-studio {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-studio:hover::after,
  .menu-studio:focus::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -24px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
  }
  .menu-studio:hover,
  .menu-studio:focus,
  .menu-studio:active {
    color: var(--ocean);
  }
  .header-address {
    font-style: normal;
    margin-left: auto;
  }
  .header-list-address {
    display: block;
  }
  .address-item {
    display: block;
    padding: 6px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var();
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-item:hover,
  .address-item:focus {
    color: var(--ocean);
  }
}
@media screen and (min-width: 1158px) {
  .header-list-address {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .address-item {
    padding: 24px 0;
  }
}
/* #endregion Header  */

/* #region MENU */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.btn-mobaile-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  padding: 0;
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-icon {
  display: block;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-mobaile-close:hover,
.btn-mobaile-close:focus {
  background-color: var(--ocean);
  border: none;
}
.btn-mobaile-close:hover .mobile-close-icon,
.mobile-close-icon:focus .close {
  fill: var(--white);
}
.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.mobile-menu-studio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.mobile-menu-studio:hover,
.mobile-menu-studio:focus {
  color: var(--ocean);
}
.mobile-address {
  margin-top: auto;
  margin-bottom: 48px;
}
.mobile-list-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.mobile-contacts:hover,
.mobile-contacts:focus {
  color: var(--iris);
}
.mobile-social {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.mobile-social-list {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.mobile-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-link:hover,
.mobile-social-link:focus {
  fill: var(--ocean);
  background-color: var(--ocean);
}
.mobile-social-icon {
  fill: var(--cloud);
}
@media screen and (min-width: 768px) {
}
/* #endregion MENU */

/* #region  Effective Solutions for Your Business */
.effective-solutions {
  max-width: 320px;
  padding: 74px 0;
  background: var(--navy-blue);
  background-image: linear-gradient(var(--grey), var(--grey)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.solutions-conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
.title-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto;
}
.button-solutions {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-solutions:hover,
.button-solutions:focus {
  background: var(--ocean);
}
@media (min-width: 768px) {
  .effective-solutions {
    max-width: 768px;
    padding: 112px 0;
  }
  .solutions-conteiner {
    gap: 36px;
  }
}
@media (min-width: 1158px) {
  .effective-solutions {
    max-width: 1440px;
    padding: 188px 0;
  }
  .solutions-conteiner {
    gap: 48px;
  }
}

/* #endregion  Effective Solutions for Your Business */

/* #region  Advantage  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-list {
  display: none;
}
.advantage-item {
  display: none;
}
.icon-advantage {
  display: none;
}
.icon {
  display: none;
}

.advantage-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantage-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
@media (min-width: 768px) {
  .advantage-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .advantage-item {
    width: calc((100% - 72px) / 4);
  }
  .icon-advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    max-width: 264px;
    background: #f4f4fd;
    margin-bottom: 8px;
    position: relative;
  }
  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1158px) {
  .advantage-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .advantage-item {
    width: calc((100% - 72px) / 4);
  }
  .icon-advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    max-width: 264px;
    background: #f4f4fd;
    margin-bottom: 8px;
    position: relative;
  }
  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .advantage-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
/* #endregion  Advantage  */
